<div class="card mx-auto text-center border-light" style="width: 18rem">
  <img src="assets/angular.png" alt="Angular logo" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Angular Projects</h5>
    <p class="card-text">
      A personal blog created with the Angular framework and the Scully static site generator
    </p>
    <a href="https://angular.io" class="card-link" target="_blank">Angular</a>
    <a href="https://scully.io" class="card-link" target="_blank">Scully</a>
  </div>
</div>
